{% extends "layout.html" %}
{% block result %}
              <div class="card text-center card-box">
                <div class="card-something border-bottom-custom p-3">
                  <h5 class="text-left mt-0 pl-2" style="font-size:23px">{{ weather.city.upper()}}</h5>
                </div>
                <div class="card-body">
                  <div class="row border-bottom">
                    <div class="col-4 col-md-4 mx-auto my-auto border-right">
                      <div class="img-box mx-auto my-auto" style="width:80px">
                        <img src="https://openweathermap.org/img/w/{{ weather.img }}.png" alt="..." style="width:80px;height:80px">
                      </div>
                    </div>
                    <div class="col-8 col-lg-8">
                      <p class="text-left pl-2" style="color:#836fff;font-size:23px">{{ weather.temperature }}°F</p>
                      <p class="text-left mt-2 pl-2">{{ weather.desc.capitalize()}}</p>       
                    </div>
                  </div>
                  <form action="{{ url_for('add',name=weather.city) }}" method="POST" class="text-right">
                    <button type="submit" class="btn btn-dark btn-small mt-3">Add</button>
                  </form>    
                </div>                
              </div>          
{% endblock result%}